<p ng-if="url">测试地址: &nbsp; <a href="{{url}}" target="_blank" class="testedUrl">{{url}}</a></p>

<div ng-if="!notFound && !connectionLost">
    <div ng-if="status.statusCode == 'failed'">
        <div class="status">测试失败</div>
        <p class="statusSubMessage">{{status.error}}</p>
        
        <!--a class="linkButton" href="https://github.com/gmetais/YellowLabTools/issues" target="_blank">Report the issue on GitHub</a-->
        <a class="linkButton" href="<%= baseUrl %>">新测试</a>
    </div>
    <div ng-if="status.statusCode == 'awaiting'">
        <div class="status">
            <ng-pluralize count="status.position" when="{'one': '排队中: 1 个测试', 'other': '排队中： {} 个测试'}">
            </ng-pluralize>
        </div>
        <p class="statusSubMessage">(页面会自动刷新)</p>
    </div>
    <div ng-if="status.statusCode == 'running'">
        <div class="status">测试运行中...</div>
        <p class="statusSubMessage">(页面会自动刷新)</p>
    </div>
    <div ng-if="status.statusCode == 'complete'">
        <div class="status">测试结束</div>
        <p class="statusSubMessage">正在打开测试结果...</p>
    </div>
</div>
<div ng-if="notFound == true">
    <div class="status">Error 404 (测试未找到)</div>
    <p class="statusSubMessage">抱歉未找到测试结果，有可能服务器正在重启，你可以重新启动测试.</p>
    
    <a class="linkButton" href="<%= baseUrl %>">新测试</a>
</div>
<div ng-if="connectionLost == true">
    <div class="status">服务器连接丢失</div>
    <p class="statusSubMessage">请检查你的网络连接，或者是服务器问题.</p>
</div>