<div ng-include="'views/resultSubHeader.html'"></div>
<div class="screenshot board">
    <h2>网页截图</h2>

    <div class="screenshotWrapper" ng-class="result.params.options.device || 'desktop'">
        <div>
            <img ng-if="result.screenshotUrl" class="screenshotImage" ng-src="{{result.screenshotUrl}}"/>
            <span ng-if="!result.screenshotUrl" class="screenshotError">网页截图出错</span>
        </div>
    </div>

    <p>拖动滚动条查看整个页面</p>

    <div class="backToDashboard"><a href="#" ng-click="backToDashboard()">回到总览</a></div>
</div>